.conteiner{
    text-align: center;
}
#parrafo{
    margin-top: 280px;
    font-size: 20px;
    color: white;
    width: 400px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.conteiner input{
    font-size: 20px;
    padding: 16px;
    width: 400px;
    vertical-align: middle;
    border: none;
}
.conteiner input:focus{
    outline: none;
}
#buttonSearch{
    all: unset;
    padding: 17px;
    vertical-align: middle;
    background-color: rgb(6,7,48);
    color: white;
    border: 2px solid white;
}
#buttonSearch:hover{
    background-color: rgb(39, 40, 108);
    cursor: pointer;
}
#crearActividad{
    margin-top: -50px;
    margin-left: 50px;
    float: left;
}
#listaActividades{
    margin-top: -70px;
    margin-right: 50px;
    float: right;
}
.buttonActivities{
    border: 2px solid white;
    color: white;
    text-decoration: none;
    background-color: rgb(6,7,48);
    padding: 10px;
}
.buttonActivities:hover{
    background-color: rgb(39, 40, 108);
}
.orderSelect{
    border: 3px solid rgb(6,7,48);
    margin-top: 20px;
    padding: 10px;
    margin-right: 10px;
}
.orderSelect:hover{
    border: 3px solid rgb(39, 40, 108);
}
#order{
    width: 150px;
}
.buttonsPages{
    all: unset;
    color: white;
    background-color: rgb(6,7,48);
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 20px;
    padding: 10px;
    border: 2px solid white;
    vertical-align: middle;
}
.buttonsPages:hover{
    background-color: rgb(39, 40, 108);
    cursor: pointer;
}
#page{
    display: inline;
    background-color: white;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -10px;
}

@media screen and (max-width:540px){
    .conteiner input{
        width: 200px;
    }
    #crearActividad{
        margin-top: 20px;
        margin-left: 10px;
        font-size: 13px;
        width: 95px;
        padding: 5px;
    }
    #listaActividades{
        margin-top: 0px;
        margin-right: 10px;
    }
    #parrafo{
        width: 200px;
        margin-top: 50px;
    }
    #order{
        margin-top: 200px;
        width: 100px;
    }

}
@media screen and (max-width:990px) and (min-width: 540px){
    #crearActividad{
        margin-top: 20px;
    }
    #listaActividades{
        margin-top: -5px;
    }
    #parrafo{
        margin-top: 200px;
    }
}
