.conteiner{
    background-color: white;
    text-align: center;
    margin-top: 50px;
    height: 650px;
}
.conteiner img{
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 17px 8px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 17px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 17px 8px rgba(0,0,0,0.75);
}
#detalles{
    margin-top: 20px;
}
#detalles li{
    border-bottom: 2px solid rgb(39, 40, 108);
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.fondo{
    height: 100vh;
    text-align: center;
}
#next{
    float: right;
    margin-right: 50px;
}
#prev{
    float: left;
    margin-left: 50px;
}
.navButtons{
    border: 2px solid white;
    color: white;
    text-decoration: none;
    background-color: rgb(6,7,48);
    padding: 10px;
    margin-top: -100px;
    font-size: 30px;
}
.navButtons:hover{
    cursor: pointer;
    background-color: rgb(39, 40, 108);
}
#nombre{
    border-bottom: 5px solid rgb(6,7,48);
}
#volver{
    all: unset;
    cursor: pointer;
    border: 2px solid white;
    padding: 10px;
    color: white;
    background-color: rgb(6,7,48);
    position: absolute;
    margin-top: 20px;
    margin-left: -55%;
}
#volver:hover{
    background-color: rgb(39, 40, 108);
}
#buscar{
    all: unset;
    cursor: pointer;
    float: left;
    margin-top: -257px;
    margin-left: 10%;
    color: white;
    padding: 15px;
    background-color: rgb(6,7,48);
    box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.75);
}
#buscar:hover{
    background-color: rgb(39, 40, 108);
}
#maps{
    all: unset;
    cursor: pointer;
    float: right;
    margin-top: -257px;
    margin-right: 10%;
    color: white;
    padding: 15px;
    background-color: rgb(6,7,48);
    box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.75);
}
#maps:hover{
    background-color: rgb(39, 40, 108);
}
@media screen and (max-width:455px){
    .navButtons{
        font-size: 15px;
    }
    #prev{
        float: left;
        margin-left: 20px;
    }
    #next{
        float: right;
        margin-right: 20px;
    }
    #nombre{
        font-size: 25px;
    }
    #volver{
        margin-left: -70%;
        font-size: 13px;
    }
    #buscar{
        margin-top: 50px;
        float: none;
    }
    #maps{
        margin-top: 100px;
        float: none;
    }
}
