.conteiner{
    background-color: white;
    text-align: center;
    margin-top: 50px;
    min-height: 300px;
}
.conteiner img{
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 17px 8px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 17px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 17px 8px rgba(0,0,0,0.75);
}
.conteiner h5{
    font-size: 20px;
}
.fondo{
    height: 100vh;
    text-align: center;
}
#next{
    float: right;
    margin-right: 50px;
}
#prev{
    float: left;
    margin-left: 50px;
}
.navButtons{
    border: 2px solid white;
    color: white;
    text-decoration: none;
    background-color: rgb(6,7,48);
    padding: 10px;
    margin-top: -150px;
    font-size: 30px;
}
.navButtons:hover{
    cursor: pointer;
    background-color: rgb(39, 40, 108);
}
#nombre{
    border-bottom: 5px solid rgb(6,7,48);
}
