.conteiner{
    background-color: white;
    padding: 15px;
    margin-top: 40px;
    max-width: 200px;
    height: 240px;
}
.conteiner img{
    box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.75);
}
#detalles{
    text-decoration: none;
    margin-top: 200px;
    color: white;
    background-color: rgb(39, 40, 108);
    padding: 5px;
    font-size: 20px;
}
#nombre{
    margin-top: 10px;
    border-bottom: 2px solid rgb(39, 40, 108);
}
#continente{
    margin-top: -20px;
    margin-bottom: 10px;
}